* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondo-body.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: rgba(244, 200, 133, 0.80);
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.logo {
    width: 180px;
    justify-self: start;
}

header h1 {
    color: rgb(185, 17, 121);
    font-family: 'Berkshire Swash', serif;
    font-size: 500%;
}

nav {
    justify-self: center;
}

nav ul {
    list-style: none;
    padding-left: 50%;
}

nav ul li:hover {
    background-color: rgb(108, 13, 72);
    border-color: rgb(108, 13, 72);
}

#carrito {
    background-color: rgb(185, 17, 121);
    text-align: center;
    border: solid rgb(185, 17, 121);
    border-radius: 10px;
    font-family: 'Besley', serif;
    text-decoration: none;
    color: #2a2229;
}

#carrito:hover {
    color: whitesmoke;

    background-color: rgb(108, 13, 72);
    border-color: rgb(108, 13, 72);
}

.subtitulos {
    font-family: 'Berkshire Swash', serif;
    font-style: italic;
    font-variant: small-caps;
    color: #b91179;
    font-size: 80px;
}




/*seccion datos*/

#ingresar-datos {
    padding: 5%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

input {
    border: rgb(135, 22, 33) solid;
    border-radius: 10px;
    width: 30%;
}

/* input:hover{
    border: rgb(176, 40, 54) solid;
} */

button {
    background-color: rgb(135, 22, 33);
    font-family: var(--bs-body-font-family);
    color: rgb(255, 255, 255);
    width: 10%;
    border: rgb(135, 22, 33) solid;
    border-radius: 10%;
}

button:hover {
    font-family: var(--bs-body-font-family);
    background-color: rgb(176, 40, 54);
    color: rgba(244, 200, 133, 0.80);
    border: rgb(176, 40, 54) solid;
    border-radius: 10%;
}

/*fin tienda*/

footer {
    bottom: 0;
    gap: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 150px;
    padding: 20px;
    margin-top: auto;
}

footer a img {
    width: 100%;
    height: 100%;
    align-self: end;
}